<mat-card class="edit-profile-dialog">
    <mat-card-title class="edit-profile-dialog-title">Edit Your Information</mat-card-title>
    <mat-card-content class="edit-profile-dialog-content">
        <form>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.Username"
                    placehoder="Username"
                    type="text"
                    name="Username"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.Email"
                    placehoder="Email"
                    type="email"
                    name="Email"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.Birthday"
                    placehoder="Birthday"
                    type="date"
                    name="Birthday"
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.Nationality"
                    placehoder="Nationality"
                    type="text"
                    name="Nationality"
                >
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="edit-profile-dialog-actions">
        <button
            mat-raised-button
            (click)="editUserInfo()"
            color="primary"
        >
        Edit
        </button>
        <button
            mat-raised-button
            mat-dialog-close
            color="Basic"
        >
            Close
        </button>
    </mat-card-actions>
</mat-card>
