.main-content {
    display: flex;
}

.movie-card {
    flex: 1 1 auto; 
    width: 250px;
    box-shadow: none;
    margin: 0 15px;
}

.movie-card-header {
    height: 80px;
    margin-left: 0;
}

.movie-card-title {
    font-size: 16px;
    text-align: left;
    margin-left: 0;
}

.movie-card-subtitle b {
    margin-right: 5px;

}

.movie-card-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-card-actions button {
    color: darkblue;
}

.movie-card-actions button:first-child{
 margin: 0 8px;
}

img {
    width: 250px; 
    height: 400px;
}

@media screen and (max-width: 600px) {
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}