<mat-card class="login-dialog">
    <mat-card-title class="login-dialog-title">
        Login to enjoy more!
    </mat-card-title>
    <mat-card-content class="login-dialog-content">
        <form>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.Username"
                    type="text"
                    placeholder="Username"
                    name="Username"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.Password"
                    type="password"
                    placeholder="Password"
                    name="Password"
                    required
                >
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="login-dialog-actions">
        <button
            mat-raised-button
            (click)="loginUser()"
            color="primary"
        >
            Login
        </button>
    </mat-card-actions>
</mat-card>