.main-content {
    position: relative;
    width: 30%;
    height: 100vh;
    margin: 3px auto;
    text-align: center;
}

.profile-dialog {
    position: absolute;
    top: 70px;
    left: 120px;
    width: 300px;
    height: 300px;
    box-shadow: none;
}

.profile-dialog-title {
    position: absolute;
    left: 60px;
    top: 10px;
    font-size: 18px;
    padding: 10px;
    padding-top: 20px;
    border-bottom: 1px solid lightgray;
}

.profile-dialog-content {
    position: absolute;
    top: 80px;
    left: 50px;
    text-align: left;
}

.profile-dialog-content p> b{
    margin-left: 5px;
}

.profile-dialog-actions {
    position: absolute;
    left: 60px;
    bottom: 30px;
}

@media screen and (max-width: 600px) {
    .main-content {
        width: 100%;
    }

    .profile-dialog {
        position: absolute;
        top: 70px;
        left: 0px;
        width: 300px;
        height: 300px;
        box-shadow: none;
    }
    
}